<div class="modal-content-product-container">
  <div [formGroup]="productGroup">
    <div>
      <div> name </div>
      <input type="text" formControlName="name" required>
    </div>
    <div>
      <div> type </div>
      <input type="text" formControlName="type" required>
    </div>
    <div>
      <div> phone </div>
      <input type="text" formControlName="phone" required>
    </div>
    <div>
      <div> price </div>
      <input type="text" formControlName="price" required>
    </div>
    <div>
      <div> rating </div>
      <input type="text" formControlName="rating" required>
    </div>
    <div>
      <div> warranty_years </div>
      <input type="text" formControlName="warranty_years" required>
    </div>
    <div>
      <div> available </div>
      <input type="text" formControlName="available" required>
    </div>
  </div>
</div>
