<div class="modal-content-product-container">
  <div [formGroup]="productGroup" class=form-group>
    <div *ngFor="let productKey of productKeys">
      <div [ngSwitch]="productKey === 'available'">
        <div *ngSwitchCase="true" class="radio-group-container">
          <div class="title-radio">available</div>
          <mat-radio-group formControlName="{{ productKey }}" class="radio-group">
            <mat-radio-button [value]="true">True</mat-radio-button>
            <mat-radio-button [value]="false">False</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngSwitchCase="false">
          <mat-form-field appearance="standard">
            <mat-label> {{ productKey }} </mat-label>
            <input matInput formControlName="{{ productKey }}">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="validateForm()">Valider</button>
  <div class="error-message" *ngIf="!formvalid">
    Invalid Formular
  </div>
</div>
