.modal-content-product-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    .radio-group-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .title-radio {
        font-size: 12px;
        color: grey;
        height: 12px;
      }
      .radio-group {
        padding-top: 8px;
        display: flex;
        flex-direction: row;
        gap: 7px;
      }
    }
  }
  .error-message {
    color: red;
  }
}
